
.login_form{
    display: block;
    margin: auto;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 2px rgb(66, 66, 66);
    padding:2rem;
    margin-top: 2rem;
}
label{
    display: block;
    text-align: left;
    margin-top: 10px;
    /* position: absolute; */
    /* float: left; */
}
input{
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
button{
    border:none;
    background-color:rgb(62, 144, 76);
    color:white;
    padding: 0.4rem;
    width: 100%;
    border-radius:5px;
}

/*button:hover{*/
/*    cursor: pointer;*/
/*    opacity: 70%;*/
/*}*/